{% extends 'base.html' %}

{% block title %}
    Delete blog
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <h4>
            Delete the Post
        </h4>
        <h1>
            {{ object.image_name }}
        </h1>
        <h2>
            Author: {{ object.posted_by }} | Date Published: {{  object.date_publshed }}
        </h2>
        <h4>
            {{ object.image_location}} | {{ object.image_category }}
        </h4>
        <p>
            {{ object.image_description }}
        </p>
        <div class="form-group">
            <form class = "form-floating" action="" method="post">

                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form.as_p}}
                </div>
            
                <button>Delete</button>
        
            </form> 
        </div>
    </div>
{% endblock content %}
